/* You can add global styles to this file, and also import other style files */

.def{
    color:yellow;
}


.head ul li {
    display: inline;
    text-align: center;   
    margin-right: 20px;
}

.head {
    text-align: center;
    background: pink;
    padding: 5px 0;
}

.foot {
    text-align: center;
    background: rgb(187, 170, 173);
    padding: 5px 0;
}
